@model List<AppUser>

@{
    ViewData["Title"] = "Members";
}

<div class="text-center">
    <h1 class="display-4">Member List</h1>
</div>
<hr class="border border-dark opacity-50" />
<table class="table table-dark table-striped">
    <thead>
        <tr class="text-center">
            <th>Fullname</th>
            <th>Username</th>
            @*<th>Email</th>
            <th>Address</th>*@
            <th>City</th>
            <th>Profile Picture</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            <tr class="text-center">
                <td><a href="@Url.Action("Profile", "User", new { username = member.UserName })" class="nav-link text-light">@member.Fullname</a></td>
                <td><a href="@Url.Action("Profile", "User", new { username = member.UserName })" class="nav-link text-light">@member.UserName</a></td>
                @*<td>@member.Email</td>
                <td>@member.Address</td>*@
                <td><a href="@Url.Action("Profile", "User", new { username = member.UserName })" class="nav-link text-light">@member.City</a></td>
                <td><img src="@Url.Content("~/upload/" + member.Path)" width="100" height="100" class="rounded-circle" /></td>
            </tr>
        }
    </tbody>
</table>
<br />
<div style="text-align:center;">
    <a href="@Url.Action("Profile", "User", new { username = User.Identity.Name })" class="btn btn-primary btn-lg">Mein Profil</a>
    <a asp-controller="User" asp-action="Index" class="btn btn-primary btn-lg">Home</a>
    <button id="logout-btn" class="btn btn-danger btn-lg">Logout</button>

    <script>
        document.getElementById('logout-btn').addEventListener('click', function (event) {
            event.preventDefault();
            var confirmation = confirm("Anda yakin ingin keluar?");
            if (confirmation) {
                window.location.href = "/account/logout";
            }
        });
    </script>
</div>
