@model MeinProfil.Models.AppUser

@{
    ViewData["Title"] = "Profile";
}

<h1 class="display-4 text-center">Mein Profil</h1>

<div class="row">
    <div class="col-md-4 mx-auto">
        <hr class="border border-dark opacity-50" />
        <div class="text-center">
            <img src="/upload/@Url.Content(Model.Path)" width="200" height="200" class="rounded-circle">
            @*<button type="button" onclick="location.href='@Url.Action("EditPict", new { id = Model.Id })'" class="btn btn-primary btn-mt-2">Edit</button>*@
        </div>
        <br />
        <table class="table table-striped">
            <tr>
                <td><strong>Fullname</strong></td>
                <td>@Html.DisplayFor(model => model.Fullname)</td>
            </tr>
            <tr>
                <td><strong>Username</strong></td>
                <td>@Html.DisplayFor(model => model.UserName)</td>
            </tr>
            <tr>
                <td><strong>Address</strong></td>
                <td>@Html.DisplayFor(model => model.Address)</td>
            </tr>
            <tr>
                <td><strong>City</strong></td>
                <td>@Html.DisplayFor(model => model.City)</td>
            </tr>
            <tr>
                <td><strong>Email</strong></td>
                <td>@Html.DisplayFor(model => model.Email)</td>
            </tr>
        </table>
        <br />
        <div style="text-align:center;">
            <button type="button" onclick="location.href='@Url.Action("Edit", new { id = Model.Id })'" class="btn btn-primary btn-mt-2">Edit</button>
            <a asp-controller="User" asp-action="Index" class="btn btn-primary btn-mt-2">Home</a>
            <button id="logout-btn" class="btn btn-danger btn-mt-2">Logout</button>

            <script>
                document.getElementById('logout-btn').addEventListener('click', function (event) {
                    event.preventDefault();
                    var confirmation = confirm("Anda yakin ingin keluar?");
                    if (confirmation) {
                        window.location.href = "/account/logout";
                    }
                });
            </script>
        </div>
    </div>
</div>

